body {
  background-color: hsl(284, 88%, 93%);
}

a {
  color: rgb(150, 31, 219);
}
.App-header {
  margin-top: 30px;
  margin-bottom: 20px;
}
.App-logo {
  max-width: 250px;
  display: block;
  margin: 0 auto;
}

.App-footer {
  text-align: center;
  margin: 20px 0;
}
